body {
  text-align: center;
  background-color: rgb(166, 199, 228);
}

.btn {
  height: 200px;
  width: 200px;
  border: 7px solid black;
  border-radius: 20%;
  margin: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  
}

.red{
  background-color: red;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.viloet {
  background-color: violet;
}
 
.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}

button:hover {
  animation: glow 0.3s ease-in-out;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

#themeBtn {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  padding: 5px;
}

.flash {
  animation: flash 0.25s ease-in-out;
}
@keyframes flash {
  0% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.5; transform: scale(1.1); }
  100% { opacity: 1; transform: scale(1); }
}

@media (max-width: 600px) {
  .btn {
    width: 100px;
    height: 100px;
  }
}


