* {
  background-color: beige;
}

h1 {
    font-size: 70px;
    font-family: cursive;
    border: 2px solid black;
    border-radius: 20px;
    background-color: violet;
    padding: 10px;
}

button:hover {
  opacity: 1;
  cursor: pointer;
  
  background-color: rgb(152, 143, 133);
  
}

button {
 
  font-size: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 4px solid black;
  background-color: darkgrey;
  font-weight :400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-input {
  font-size: 50px;
  background-color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  
}

.computer-input {
   font-size: 50px;
   background-color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}


.result {
  font-size: 50px;
  background-color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}

.score {
  margin-top: 30px;
  font-size: 50px;
  background-color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}

.match {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  margin: 20px 20px;
  
}

.match:hover {
  box-shadow: 12px 12px 2px 1px rgba(203, 82, 63, 0.2);
  
}

/* use to  develop image closing  */
.bat:hover {
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
    
}

.reset {
  margin-top: 20px;
}

/* .image-src:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
  
} */